# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Gercike\IdeaProjects\Teszt2-től Teszt3-ig\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
out
Teszt2-től Teszt3-ig.iml

